.Rproj.user
.Rhistory
.RData
.Ruserdata
*.yml
*.DS_Store
.env

/.quarto/
/_site/
/images/
/datasets/
**/*.quarto_ipynb

# Ignore Quarto authoring files inside polars-book
/polars-book/*.qmd
/polars-book/*.yml
/polars-book/**/*.qmd
/polars-book/**/*.quarto_ipynb

# Ignore source assets ONLY inside polars-book
/polars-book/images/
/polars-book/data/
