.Rproj.user
.Rhistory
.RData
.Ruserdata
*.yml
*.DS_Store
.env

/.quarto/
/_site/
/images/
/datasets/
**/*.quarto_ipynb

# Ignore Quarto source files ONLY if you truly don't want to version them
# But keep SCSS, variables, and chapter QMDs!
/polars-book/*.ipynb
/polars-book/data/
/polars-book/images/

/polars-book/**/*.qmd
/polars-book/**/*.quarto_ipynb

